body {
  background-color: #111;
  font-family: 'Antonio', sans-serif;
  font-weight: 400;
  color: #f0f0f0;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}


@keyframes blinkingText {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .blinking-text {
    animation: blinkingText 0.6s infinite;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out forwards;
  }

  @keyframes fadeIn-2 {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in-2 {
    animation: fadeIn-2 10s ease-in-out forwards;
  }
  
  
  
  
  
  
  
  
